*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #011627;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1{
    margin: 2rem;
    text-align: center;
}

div.grid{
    height: 650px;
    width: 650px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

div.grid .cell{
    width: calc( 100% / 8);
    height: calc( 100% / 8);
    cursor: help;
}


div.grid,
div.grid .cell{
    border: 3px white solid;
}
div.grid .cell.selected{
    background-color: #7ffed3;
}